.chat-container {
  width: 80vw; /* Adjusted to take up 90% of the viewport's width */
  height: 80vh; /* Adjusted to take up 90% of the viewport's height */
  margin: 0vh auto;
  background: #18181a;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
    /* Original shadow */ 0 0 20px rgba(255, 255, 255, 0.3); /* Glow effect */
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #a1a1aa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question,
.answer {
  max-width: 90%; /* Ensure it doesn’t go outside the chat-history */
  word-wrap: break-word; /* To prevent overflow by breaking long words */
}

.question {
  margin: 10px 0;
  padding: 10px 15px;
  background: #e1f5fe; /* light blue background for questions */
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.answer {
  display: flex;
  align-items: center;
  text-align: left;
}

.answer > * {
  margin-right: 10px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #a1a1aa;
  color: #f8f7f7;
  border-radius: 5px;
  background: #09090b;
}

.send-button {
  padding: 10px 50px;
  border: none;
  background: #09090b;
  color: #a1a1aa;
  border-radius: 5px;
  border: 1px solid #a1a1aa;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.send-button:hover {
  background: #a1a1aa;
  color: #09090b;
}

.icon-container {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background-color: #a1a1aa;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-right: 10px;
  border: 1px solid #a1a1aa;
}

.separator {
  width: 100%;
  margin: 5px 0;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

/* markdown answer */
.loading {
  width: 100%;
  flex-grow: 1;
  /* other styles */
}

.border-bottom {
  border-bottom: 1px solid #a1a1aa;
}

.starter-option {
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 50px;
  transition: all 0.3s ease-in-out;
}

.starter-option:hover {
  background: linear-gradient(
    50deg,
    #714dff,
    #9c83ff 31.28%,
    #e151ff 77.97%,
    #fff759 95%
  );
}

.option-title {
  color: rgba(248, 247, 247, 1);
}

.option-subtitle {
  color: rgba(248, 247, 247, 0.75);
}
